---
layout: default
---

<div class="row white-row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <h2>Die Mission</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p>
          Am 22. September ist es soweit. Die Bundestagswahl steht an und 61,8 Millionen Einwohner Deutschlands sind aufgerufen ihre 2 Stimmen abzugeben.
        </p>
        <p>
          <strong>61,8 Millionen Wahlberechtigte</strong> - <strong>2 Stimmen</strong> -<strong> 299 Wahlbezirke</strong> - <strong>34 Parteien</strong> - <strong>4451 Kanidatinnen und Kanidaten</strong> für <strong>598 Sitze</strong> im Bundestag erzeugen eine schöne Menge an Daten.
        </p>
        <p>
          Wir rufen alle Bürgerinnen und Bürger auf im Zuge von Wahl.Daten.Helfer. in ganz Deutschland die aktuellen aber auch die historischen Wahldaten kreativ zu nutzen.
        </p>
    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-6">
        <p>
          Gemeinsam wollen wir auf Veranstaltungen am Wochenende der Wahl in ganz Deutschland an neuen Apps und Visualisierungen rund um offene Wahldaten arbeiten. Die Resultate werden anschließend im Showroom der Kampagne veröffentlicht.
        </p>
        <p>
          <strong>Apps entwickeln stärkt die Demokratie!</strong>
        </p>
    	</div>
  	</div>
  </div>
</div>

<div class="row white-row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <h2>Beispiele/Inspirationen</h2>
      </div>
    </div>
    <div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3">
      	<a target="_blank" href="http://driven-by-data.net/about/nds2013/#/0">
          <img alt="Koalitionsvisualisierung" class="img-responsive" src="/img/bild1.png">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      	<a target="_blank" href="http://www.theguardian.com/news/datablog/interactive/2012/nov/07/us-election-2012-votes-map-unemployment-poverty-rich">
          <img alt="US election / poverty map" class="img-responsive" src="/img/bild2.png">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
    	  <a target="_blank" href="http://www.zeit.de/politik/deutschland/2013-08/fs-wahlkantine">
          <img alt="Wahlkantine" class="img-responsive" src="/img/bild3.png">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      	<a target="_blank" href="http://vis.uell.net/btw/13/atlas.html?wkr09sieger">
          <img alt="Wahlkarte" class="img-responsive" src="/img/bild4.png">
        </a>
			</div>
		</div>
  </div>
</div>


<div class="row yellow-row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <h2>Jetzt mitmachen!</h2>
    <p>
      Du hast Lust ein &lt;wahllokal/&gt; bei dir vor Ort zu organisieren? Dann mach mit!
      Wahl.Daten.Helfer. ist ein Community-Projekt und jeder ist willkommen sich daran zu beteiligen, je größer die Community, desto besser!
    </p>
    <p>
      Melde dich einfach kurz bei uns und werde Teil von Wahl.Daten.Helfer.: mitmachen@wahldatenhelfer.de
    </p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="http://railslove.us4.list-manage1.com/subscribe/post?u=35591fb9ad996836219f10cbd&amp;id=694d3f49d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email-Adresse">
      </div>
      <div class="mc-field-group">
        <textarea type="text" name="DESC" class="required" id="mce-DESC" placeholder="Was machst du?"></textarea>
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>  <div class="clear"><input type="submit" value="Mitmachen" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
    </div>
	</div>
</div>

<div class="row white-row">
  <div class="col-lg-6 col-md-6 map-container">
    <div id="map"></div>
  </div>
  <div class="col-lg-6 col-md-6">
    <h2>STÄDTE UND EVENTS</h2>
    <ul class="city-list">
      {% for event in site.pages %}
        {% if event.tags contains "event" %}
          <li class="box">
            <div class="box-header">
              <a href="{{ event.url|replace:"index.html","" }}">&lt;wahllokal/&gt; {{ event.name }}</a>
            </div>
            <div class="box-content">
              {{ event.where }}<br/>
              {{ event.when }}
            </div>
          </li>
        {% endif %}
      {% endfor %}
       <li class="box">
        <div class="box-header">&lt;wahllokal/&gt; Dein Wahllokal</div>
        <div class="box-content">
          Jetzt mitmachen!<br/>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  (function(){
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: new google.maps.LatLng(52, 10),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      draggable: false,
      scrollwheel: false
    });

    var markers = [];

    {% for event in site.pages %}
      {% if event.tags contains "event" %}
        markers.push(new google.maps.Marker({
          position: new google.maps.LatLng({{ event.lat }}, {{ event.lng }}),
          map: map,
          title: 'Wahllokal {{ event.name }}'
        }));
      {% endif %}
    {% endfor %}
  }());
</script>
