.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



body {
	background-color: #e5e6e6;
	margin: 0;
	background-size: 100% 100%;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
			}

p {
	margin: 0 0 1.5em 0;
}

.heading {
	font-family: 'Oxygen';
	font-size: 30px;
	margin-top: 10px;
}

.flat-box {
	padding: 18px;
}
.image-box {
	padding: 18px;
}

.left {
	float: left;
	width: 383px;
	padding: 0 20px;
	margin: 10px 0 0 0;
}
.right {
	float: left;
	width: 370px;
	margin: 10px 0 0 0;

}

.bilder {
	float: left;
	width: 820px;
	padding: 0;
	margin: 0 auto;
}

.bilder-space{
	margin: 10px 10px 10px 10px;
}

.ueber {
	float: left;
	width: 600px;
	padding: 0 20px 0 27px;
}

.right_top {
	float: right;
	width: 40px;
	margin: 5px 0 0 0;
}

.right1_top {
	float: right;
	margin: 15px 20px 0 0;
}

.pics_1{
	margin: 7px 7px 7px 7px;
}

.pics_2{
	margin: 7px 7px 7px 7px;
}

.pics_3{
	margin: 7px 7px 7px 7px;
}

.box-header {
	margin: 0;
	padding: 10px 20px;
}

.box-header2 {
	margin: 0;
	padding: 10px 20px;
}

.text_1 {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 20px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
	margin: 15px;
	background-color: white;
}

.text_1_inner {
	height: 300px;
	width: 350px;
	margin: 0 420px;
	padding: 0 40px;
	text-align: left;
}

.text_2{
	background-color: #fbe106;
	width: 826px;
	margin-top: 18px;
	margin-bottom: 18px;
}

.serene0 {

    height: 140px;
    width: 826px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 18px;
    background-color: #fbe106;
}

.serene{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

    height: 240px;
    width: 826px;
    padding: 18px;
    background-color: #FFFFFF;
}

.serene2{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

    height: 200px;
    width: 826px;
    padding: 18px;
    background-color: #FFFFFF;
    margin-top: 18px;
}

.serene3{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

    height: 800px;
    width: 826px;
    padding: 18px;
    background-color: #FFFFFF;
    margin-top: 18px;
}

.serene4{

    height: 230px;
    width: 826px;
    padding: 18px;
    background-color: #fbe106;
    margin-top: 18px;
    margin-bottom: 20px;
}
.text_2_inner{
	height: 300px;
	width: 350px;
	text-align: left;
	margin: 0 400px;
	padding: 0 30px;
}

.floatright { float: right; }

.text_3{
	background: url(box3.png) no-repeat;
	height: 420px;
	text-align: right;
	margin: 0 auto;
	padding: 0 26px;
}

#events h2 {
	margin-bottom: 10px;
}

.city-list{
	list-style-type: none;
	padding-left: 0;
	font-size: 12px;
}

.box .box-header {
	background-color: black;
	color: white;
	display: inline-block;
}

.box .box-content {
	border: 2px solid #e5e6e6;
	padding: 5px;
}

.box {
	margin-bottom: 10px;
}

.footer-pos {
	margin: 0 auto;
	width: 615px;
}

.footer-pics{
	margin: 10px 10px 10px 10px;
}

.box a:link,
.box a:visited,
.box a:hover,
.box a:active,
.box a:focus {
  color: #fff;
}

.impressum a:link,
.impressum a:visited,
.impressum a:hover,
.impressum a:active,
.impressum a:focus {
	margin: 0 0 0 1065px;
	font-size: 10px;
	color: #6E6E6E;
}

#container {
  position: relative;
  height: 464px;

}

#map, #map-koeln
{
  position: relative;
  height: 464px;
  width: 50%;
}

#img2 {
    position: absolute;
    left: 335px;
    top: 117px;
}
#img3 {
    position: absolute;
    left: 205px;
    top: 60px;
}
#img4 {
    position: absolute;
    left: 107px;
    top: 205px;
}
#img5 {
    position: absolute;
    left: 210px;
    top: 335px;
}
#events {
	position: absolute;
  right: 0px;
  top: 0;
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 0 10px;
}
#content {
	width: 859px;
	margin: 0 auto;
	padding: 0 26px;
}

#footer {
	background-color: #000000;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	height: 60px;
	width: 826px;
	margin: 0 auto;
  background-repeat:no-repeat;
  background-position: bottom center;
  line-height: 80px;
}

#mc-embedded-subscribe-form {
	margin-top: 20px;
}

#mc-embedded-subscribe-form input, #mc-embedded-subscribe-form textarea{
	font-size: 18px;
	padding: 5px;
	width: 300px;
}

#mc-embedded-subscribe-form textarea{
	height: 90px;
	margin: 5px 0;
}

#mc-embedded-subscribe-form input.button {
	border-radius: 0;
	background-color: black;
	color: white;
	padding: 10px;
	border: none;
	width: 312px;
	margin-bottom: 10px;
}

.hover2:hover{
text-decoration:none; font-weight:bold; color:#fff;
}


a, a:focus, a:visited { text-decoration:none; font-weight:bold; color:#000000; }
a:hover { text-decoration:none; font-weight:bold; color:#fbe106; }
#footer a:active { text-decoration:none; font-weight:bold; background-color:#000; }
