---
layout: default

---

{{ content }}


<div class="row white-row">
  <div class="col-lg-6 col-md-6 map-container">
    <div id="map"></div>
  </div>
  <div class="col-lg-6 col-md-6">
    <h2>&lt;wahllokal/&gt; {{ name }}</h2>
    <ul class="city-list">
      <li class="box">
        <div class="box-header">&lt;wahllokal/&gt; {{ name }}</div>
        <div class="box-content">
          {{ page.where }}<br/>
          {{ page.when }}
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  (function(){
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: new google.maps.LatLng({{ page.lat }}, {{ page.lng }}),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      draggable: false,
      scrollwheel: false
    });

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ page.lat }}, {{ page.lng }}),
      map: map,
      title: 'Wahllokal'
    });
  }());
</script>
