---
layout: default

---

{{ content }}


<div class="row white-row">
  <div class="col-lg-6 col-md-6 map-container">
    <div id="map"></div>
  </div>
  <div class="col-lg-6 col-md-6">
    <h2>&lt;wahllokal/&gt; {{ page.name }}</h2>
    <ul class="city-list">
      <li class="box">
        <div class="box-header">&lt;wahllokal/&gt; {{ page.name }}</div>
        <div class="box-content">
          {{ page.where }}<br/>
          {{ page.when }}
        </div>
      </li>
      {% if page.info %}
      <li class="box">
        <div class="box-content city-info">
          {{ page.info }}
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

<script>
  (function(){
   var map;
 
    // set up the map
    map = new L.map('map', 
      { dragging: false,
        touchZoom: false,
        scrollWheelZoom: false,
        doubleClickZoom: false,
        boxZoom: false,
        zoomControl: false,
        keyboard: false }
    );

    // create the tile layer with correct attribution
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, { attribution: osmAttrib });   

    // start the map in South-East England
    map.setView(new L.LatLng({{ page.lat }}, {{ page.lng }}), 16);
    map.addLayer(osm);

    var marker = L.marker(
      [{{ page.lat }}, {{ page.lng }}],
      {
        clickable: true,
        title: 'Wahllokal {{ page.name }}'
      }
    ).addTo(map);
  }());
</script>
