<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="/css/style.css" media="all" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    <title>Wahl.Daten.Helfer.{% if page.title %} - {{ page.title }}{% endif %}</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  </head>
  <body>
    <div class="container">
      <div class="row header-row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a class="logo" href="/">
            <img src="/img/wahldaten6-200.png" alt="Wahldatenhelfer"/>
          </a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="nav pull-right">
            <a href="/faq">Glossar</a>
            <a href="/ueber">Über</a>
            <a class="img-nav" href="https://twitter.com/WahlDatenHelfer">
              <img src="/img/tweet.png"/>
            </a>
          </div>
        </div>
      </div>
      {{ content }}
      <div class="row footer-row">
        <div class="col-lg-12 text-center">
          <a href="http://railslove.com/">
            <img alt="Railslove" src="/img/railslove-white.png"/>
          </a>
          <a href="http://wiki.koelnapi.de/w/Hauptseite">
            <img alt="Köln API" src="/img/koelnapi.png"/>
          </a>
          <a href="http://okfn.de/">
            <img alt="OKFN" src="/img/okfn-white.png"/>
          </a>
          <a href="http://www.stadt-koeln.de/">
            <img alt="Stadt Köln" src="/img/stadt_koeln.png"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="impressum pull-right">
          <a href="http://railslove.com/items/text_imprint/">Impressum</a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/retina.js"></script>
  </body>
</html>
